{% extends "base.html" %}
{% block content %}
	<form action="/add/" method="post" class="add-event">
		<label for="name">Name:</label><br />
		<input type="text" name="name" /><br />

		<label for="note">Note:</label><br />
		<input type="text" name="note" /><br />

		<label for="link">Link:</label><br />
		<input type="text" name="link" /><br />

		<label for="milestone">Milestone?:</label><br />
		<input type="checkbox" name="milestone" /><br />

		<label for="date_from">Date (From):</label> <small>yyyy-mm-dd</small><br />
		<input type="text" name="date_from" /><br />

		<label for="date_to">Date To:</label> <small>yyyy-mm-dd</small><br />
		<input type="text" name="date_to" /><br />

		<label for="tag">Tag:</label><br />
		<input type="text" class="tag-autocomplete" /><button class="add_tag">add</button><br />
		<ul class="tags"></ul>
		<input type="submit" />
	</form>
{% endblock %}
