<form action="/add/" method="post">
	<label for="name">Name:</label><br />
	<input type="text" name="name" /><br />
	
	<label for="note">Note:</label><br />
	<input type="text" name="note" /><br />

	<label for="link">Link:</label><br />
	<input type="text" name="link" /><br />

	<label for="milestone">Milestone?:</label><br />
	<input type="checkbox" name="milestone" /><br />
	
	<fieldset>
		<legend>From or on:</legend>
		<label for="year">Year:</label><br />
		<select name="year">
			{% for year in range(0,2017) %}
				<option value="{{ year }}">{{ year }}</option>
			{% endfor %}
		</select><br />
	
		<label for="month">Month:</label><br />
		<select name="month">
			{% for month in range(0,13) %}
				<option value="{{ month }}">{{ month }}</option>
			{% endfor %}
		</select><br />
	
		<label for="day">Day:</label><br />
		<select name="day">
			{% for day in range(0,32) %}
				<option value="{{ day }}">{{ day }}</option>
			{% endfor %}
		</select><br />
	</fieldset>
	<fieldset>
		<legend>To:</legend>
		<label for="year">Year:</label><br />
		<select name="year">
			{% for year in range(0,2017) %}
				<option value="{{ year }}">{{ year }}</option>
			{% endfor %}
		</select><br />
	
		<label for="month">Month:</label><br />
		<select name="month">
			{% for month in range(0,13) %}
				<option value="{{ month }}">{{ month }}</option>
			{% endfor %}
		</select><br />
	
		<label for="day">Day:</label><br />
		<select name="day">
			{% for day in range(0,32) %}
				<option value="{{ day }}">{{ day }}</option>
			{% endfor %}
		</select><br />
	</fieldset>
	<input type="submit" />
</form>